@import url(//fonts.googleapis.com/css?family=Open+Sans);

html {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

body {
    color: black;
    font-size: 16px;
    background-image: url("img_tree.png");
    background-repeat: no-repeat;
}

header {
  background-color: white;
  text-align: center;
  font-size: 18px;
  top: 0px;
  padding: 30px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
}

nav a {
  margin: 25px;
  font-size: 15px;
}

aside {
  background-color: white;
  text-align: right;
  font-size: 12px;
  top: 20px;
  right: 0px;
  position: fixed;
  width: 10%;
}

figure {
  
  position: relative;
  margin-top: 200px;
  width: 100%;
  text-align: center;
  z-index: -1;
}

figure img {
  width: 400px;
  height: auto;

}

a:link {
  color: blue;
}

a:visited {
  color: orange;
}

article {
  position: static;
}

article h3 {
  width: 50%;
  display: block;
  margin: 30px auto 10px auto;
}

span.title {
  font-style: italic;
}

p {
  width: 50%;
  display: block;
  margin: auto;
  text-align: justify;
}

#footer {
  font-size: 10px;
}

footer {
  clear: both
}

aside {
  text-align: center;
}